extends ../base.jade
block content
  md-content(layout="row" layout-fill)
    div(flex="20")
    div(flex)
      md-card
        md-card-content
          h1.md-title Number-O-Matic
          p Please login using one of the following Authentication Providers.
          md-actions(layout="row" layout-sm="column" layout-align="end center")
            md-button(href=login aria-label="Login with Google").md-raised Login with Google
    div(flex="20")

